* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    color: white;
}

body {
    background-color: #1E1B34;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5c0000;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 160px;
    margin-right: 45px;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
.nav-left ul li img{
    width: 24px;
    margin: 0 15px;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
}
.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-user-icon{
    margin-left: 30px;
}
.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-box img{
    width: 18px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.friend{
    position: relative;
}

.container{
    padding: 13px 5%;
    display: flex;
    justify-content: space-between;
}
.left-sidebar {
    background: #5c0000;
    flex-basis: 25%;
    position: sticky;
    top: 90px;
    align-self: flex-start;
    padding: 10px;
    border-radius: 4px;
}
.right-sidebar {
    background-color: #5c0000;
    flex-basis: 25%;
    position: sticky;
    top: 90px;
    align-self: flex-start;
    padding: 20px;
    border-radius: 4px;
}
.main-content{
    /* background: #cbdffa; */
    flex-basis: 47%;
}
/* ----------left sidebar------ */
.sidebar-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: fit-content;
    color:White;
}

.sidebar-links a img{
    width: 25px;
    margin-right: 15px;
}

.sidebar-links a:last-child{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom:0px;
    width: fit-content;
}
/* ------------right sidebar------- */

.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 11px;
}
.right-sidebar h4{
    font-weight: 600;
    font-size: 16px;
}

.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.event-left{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event-left p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #5c0000;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}
.event p{
    font-size: 12px;
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}

.chat-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.chat-list:last-child{
    margin-bottom: 0px;
}
.chat-list .friend{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
    
}
.chat-list .friend img{
    width: 40px;
    border-radius: 50%;
}

/* ------------------ main content ------------- */


/* -------story-------- */
.story-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story{
    flex-basis: 18%;
    padding-top: 18.86%;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 500px;
}
.story1 {
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5));
    background-color: #5c0000;
}
.story2{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(../images/member1.png);
}
.story3{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(../images/member3.png);
}
.story4{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(../images/member4.png);
}
.story5{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(../images/member5.png);
}
.story img{
    width: 45px;
    border-radius: 50%;
    border: 5px solid #1876f2;
    position: absolute;
    top: 10px;
    left: 10px;
}
.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.story.story1 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
}
/* ------------write  --------- */
.post-input-container{
    width: 100%;
    background: white;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.user-profile small{
    font-size: 12px;
}

.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    resize: none;
    background: transparent;
    color: black;
}
.post-add{
    display: flex;
    margin-top: 10px;
}
.post-add a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.post-add a img{
    width: 20px;
    margin-right: 10px;
}
/* -------post list------- */


.post-container{
    width: 100%;
    background: white;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}

.date{
    font-size: 13px;
    color: #747171;
    margin-top:5px;
}

.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-row a{
    color: #9a9a9a;
}

.post-text{
    color: black;
    margin-top: 15px;
    font-size: 15px;
}
.post-text a{
        color:blue;
    text-decoration: none;
    font-size:15px;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-top:15px;
    margin-bottom: 5px;
}
.activity-icons div img{
    width: 18px;
    margin-right: 10px;
}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    color:black;
}

/* --------settings-menu----------- */

.load-more-btn{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: white;
    background: transparent;
    border-radius: 4px;
}

/*---------- dark mode button--------- */

.footer {
    margin-top:20mm;
    padding: 40px 0;
    background-color: #815151a9;
    color:white;
  }
  
  .footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  
  .footer li {
    padding: 0 10px;
    display:inline;
  }
  
  .footer ul a {
    color: inherit;
    text-decoration: none;
  }
  
  .footer .social {
    text-align: center;
    padding-bottom: 25px;
  }

  .footer img{
      width:30%;
  }
  
  .footer .social > a {
    line-height: 40px;
    display: inline-block;
    margin: 0 8px;
  }
  
  
  .footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 0;
  }

/* ---------------- home page media query ---------- */

@media (max-width:900px){
    nav{
        flex-wrap: wrap;
    }
    .post-add{
        flex-wrap: wrap;
    }

    .left-sidebar{
        display: none;      
    }
    .right-sidebar{
        display: none;
    }
    .main-content{
        flex-basis: 100%;
    }
    .logo{
        width: 110px;
        margin-right: 20px;
    }
    .search-box{
        display: none;
    }
    .nav-left ul li img{
        width: 20px;
        margin: 0 8px;
    }
    .nav-user-icon img{
        width: 30px;
    }
    .nav-user-icon{
        margin-left: 0;
    }
    .story img{
        width: 30px;
        border-width: 3px;
    }
    .story p{
        font-size: 10px;
    }
    .story.story1 img{
        width: 25px;
        bottom: 30px;
    }
    .post-input-container{
        padding-left: 0;
    }
    .post-add a{
        margin-right: 12px;
        font-size: 9px;
    }
    .post-add a img {
        width: 16px;
        margin-right: 5px;
    }
}



